body{
    font-family: .young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
    }
.section-five{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 30px;
    text-align: center;
}

.section-one__img{
  color:black;
  display: inline-block;
  padding: 20px;
  height: 300px;
  width: 200px;
  border-radius: 10px;
  vertical-align: top;
}
.section-two__img{
  color:black;
  display: inline-block;
  padding: 20px;
  height: 300px;
  width: 200px;
  border-radius: 10px;

}
.section-three__img{
  color:black;
  display:inline-block;
  padding: 20px;
  height: 300px;
  width: 200px;
  border-radius: 10px;
}
.section-four__img{
  color:black;
  display: inline-block;
  padding: 20px;
  height: 300px;
  width: 200px;
  
}
.section-one button,.section-two button,.section-three button,.section-four button{
   background-color: black;
   color: white;
   padding-left: 20px;
   padding-bottom: 10px;
   padding-right: 20px;
   padding-top: 10px;
}
.section-one{
  background-color: rgb(78, 103, 122);
  border-radius: 2px;
  border-color: aqua;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.section-two{
  background-color: rgb(78, 103, 122);
  border-radius: 2px;
  border-color: aqua;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.section-three{
  background-color: rgb(78, 103, 122);
  border-radius: 2px;
  border-color: aqua;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.section-four{
  background-color: rgb(78, 103, 122);
  border-radius: 2px;
  border-color: aqua;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.container{
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
.container-one{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}


.contact{
  text-align: center;
  

}
.contact-button{
  padding: 5px;
  margin: 2px;
  background-color: orange;
  color: black;
  width: 500px;
}
.contact__input{
  padding: 10px;
  margin: 2px;
 width: 300px;
}
}